<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si le fichier ou dossier demandé existe, on le sert normalement
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Sinon, on redirige tout vers index.html
  RewriteRule ^ index.html [L]
</IfModule>
